/**{
	margin:2px; padding:2px;
}*/

li {
	list-style: none;
}

body {
	background-color:#E8DED4;
}

a {
	text-decoration: none;
	color: #8F4747;
	font-size: 16px;
}

.header,
.main,
.footer {
	height: 100%;
	width: 100%;
}

.container {
	/*height: 100%;*/
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 0;
	margin-bottom: 0;
}

/* header */
.header {
	color: white;
	background-color: #77ae99;
	height: 50px;
}

.header * {
	color: white;
}

.header .address {
	float: left;
}

.header .user-status {
	float: right;
}

.header .user-status a {
	margin-right: 30px;
}

/* Main */
.main .container {
	background-color: white;
}

.main .banner {
	height: auto;
	width: 100%;
}

/* navbar wrapper */
.navbar {
	margin: 0px auto;
}

.navbar-menu {
	color: #290808;
	font-size: 16px;
	text-decoration: none;
	width: auto;
}

.navbar-menu ul li {
	float: left;
	padding: 20px 30px;
}

.navbar-menu ul li:last-child{
	border-right: none;
}

.navbar-menu ul li:hover ul{
	display: block;
}

.navbar-menu ul li:hover{
	background: #77ae99;
}

.site-map-menu {
	clear: both;
	padding: 20px;
}

.site-map-menu h3{
	text-transform:uppercase;
	border-bottom:1px solid #A2A2A2;
	width:100%;
	padding:10px 0 30px 0;
	font-size: 20px
}

/* recipes list */
.main .content .recipes-list-item {
	float: left;
	margin-left: 20px;
	padding-top: 18px;
	width: 210px;
}
.content-title .content-link-title{
	color:#7893AC;
}

.recipes-list-item{
	border-left:1px solid #E2E4E2;
}

.recipes-list-item:first-child{
	border: none;
}

.recipes-list-item:nth-child(5){
	border:none;
}

.recipes-list-item .content-item{
	width: 200px;
	margin-left: 5px;
}

/* Footer */
.footer {
	background-color: #C6B198;
}

.footer .register,
.footer .links {
    text-align: center;
    width: 100%;
}

.footer .links {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer * {
	color: #fcfcfc;
	font-weight: bold;
}

.footer p {
	color: black;
}

.footer .register input[type="submit"] {
	background-color: #953320;
	border-radius: 5px;
	cursor: pointer;
	height: 50px;
	margin-top: 20px;
	width: 150px;
}